.titulo-productos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info {
    color: #8B8B8B;
    font-size: 16px;
}
.modulo-reportes {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* contenido desde arriba */
    gap: 10px;
    min-height: 100vh;
    box-sizing: border-box;
}


h1{
    color: #000000;
    font-size: 48px;
}